body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f7f094;
    color: #568c19;
}
h1 {
    margin-left:-20px;
    width:400px;
    background-color: #568c19;
    border: none;
    color:#f7f094;
    padding: 3px 12px;
    text-align:right;
}
.button {
    background-color: #568c19;
    border: none;
    color:#f7f094;
    padding: 3px 12px;
    margin: 4px 2px;
    text-align: center;
    display: inline-block;
    font-size: 14px;

}